.avatars-container {
	position: relative;
	border-radius: 2px;
	background: rgb(44, 48, 51);
	padding:7px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(102,102,102,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(102,102,102,1);
	box-shadow: 0px 0px 10px 2px rgba(102,102,102,1);
}

.avatars-container ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.avatars-container:before {
  content:"";
  position: absolute; 
  left:50%;
  margin-left: -8px;
  bottom: 100%; 
  height:0;
  width:0; 
  border-width: 8px;
  border-style:solid;
  border-color:rgb(44, 48, 51);
  border-top-color:transparent;
  border-left-color:transparent;
  border-right-color: transparent;
}

.avatars-container-heading {
	color: rgb(249, 249, 249);
	padding:14px;
	display: inline-block;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}


.avatars-container li {
	display: inline-block;
	position: relative;
	margin: 4px 4px 0px 4px;
}

.avatars-container img {
	border: 3px solid transparent;
}

.avatars-container img:hover {
	border:3px solid rgb(155, 160, 163);
}

.overlay {
	height: 60px;
	width:60px;
	border:3px solid transparent;
	border-radius: 50%;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	cursor: pointer;
}

.partial-border {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	cursor: pointer;
	border-top: 3px solid transparent;
	border-left:3px solid rgb(65, 105, 225);
	border-right:3px solid rgb(65, 105, 225);
	border-bottom:3px solid rgb(65, 105, 225);
}

.rotate {
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.overlay:hover {
	z-index: 1;
	background-color: rgba(122, 161, 178, .2);
	border: 3px solid rgb(155, 160, 163);
}

.hidden {
	display:none;
}

.shown {
 	display:contents;
 	-webkit-animation:bounce .3s linear;
    -moz-animation:bounce .3s linear;
    animation:bounce .3s linear;
}

.scale-out{
	-webkit-animation:scale-out .3s forwards;
    -moz-animation:scale-out .3s forwards;
    animation:scale-out .3s forwards;
}

.current {
	border:3px solid rgb(65, 105, 225);
}

.unselected-avatar-btn {
	height: 60px;
  	width: 60px;
  	border-radius: 50%;
  	border: none;
  	cursor: pointer;
  	background-color: transparent;
  	padding:0; 
  	margin: 0;
}

/*---- animations ----*/

/*rotate*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*bounce*/
@-moz-keyframes bounce {
        0%{ -moz-transform:scale(0); opacity:0;}
        80%{ -moz-transform:scale(1.1); opacity:0.8;}
        100%{ -moz-transform:scale(1); opacity:1;}
}

@-webkit-keyframes bounce {
        0%{ -webkit-transform:scale(0); opacity:0;}
        25%{ -moz-transform:scale(.75); opacity:.25;}
        80%{ -webkit-transform:scale(1.1); opacity:0.8;}
        100%{ -webkit-transform:scale(1); opacity:1;}
}

/*scale-out*/
@-moz-keyframes scale-out {
        0%{ -moz-transform:scale(1); opacity:1;}
        10%{ -moz-transform:scale(.9); opacity:.9;}
        20%{ -moz-transform:scale(.8); opacity:.8;}
        30%{ -moz-transform:scale(.7); opacity:.7;}
        40%{ -moz-transform:scale(.6); opacity:.6;}
        50%{ -moz-transform:scale(.5); opacity:.5;}
        60%{ -moz-transform:scale(.4); opacity:.4;}
        70%{ -moz-transform:scale(.3); opacity:.3;}
        80%{ -moz-transform:scale(.2); opacity:.2;}
        90%{ -moz-transform:scale(.1); opacity:.1;}
        100%{ -moz-transform:scale(0); opacity:0;}
}

@-webkit-keyframes scale-out {
        0%{ -webkit-transform:scale(1); opacity:1;}
        10%{ -webkit-transform:scale(.9); opacity:.9;}
        20%{ -webkit-transform:scale(.8); opacity:.8;}
        30%{ -webkit-transform:scale(.5); opacity:.7;}
        40%{ -webkit-transform:scale(0); opacity:.6;}
        50%{ -webkit-transform:scale(0); opacity:.5;}
        60%{ -webkit-transform:scale(0); opacity:.4;}
        70%{ -webkit-transform:scale(0); opacity:.3;}
        80%{ -webkit-transform:scale(0); opacity:.2;}
        90%{ -webkit-transform:scale(0); opacity:.1;}
        100%{ -webkit-transform:scale(0); opacity:0;}
}